{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/logo.css' %}", type="text/css">
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static './css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static './css/flaticon.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static './css/barfiller.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static './css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static './css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static './css/style.css'%}" type="text/css">
    <title>HighVoltageTrack</title>
</head>
<body>
    <form action="post">
        {% csrf_token %}
        <div>
            <div class="field padding-bottom--24">
                <label for="email">Class</label>
                {{form.athlete_class}}
            </div>
            <div class="field padding-bottom--24">
                <label for="email">Full Name</label>
                {{form.athlete_name}}
            </div>
            <div class="field padding-bottom--24">
                <label for="email">Athlete Mark</label>
                {{form.athlete_mark}}
            </div>
            <div class="field padding-bottom--24">
                <label for="email">Athlete Age</label>
                {{form.athlete_age}}
            </div>
            <div class="field padding-bottom--24">
                <label for="email">Athlete Group</label>
                {{form.athlete_group}}
            </div>
            <div class="field padding-bottom--24">
                <label for="email">Athlete Date</label>
                {{form.athlete_date}}
            </div>
            <div class="field padding-bottom--24">
                <label for="email">Meet</label>
                {{form.athlete_meet}}
            </div>
            <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Submit Form">
            </div>
        </div>
    </form>
</body>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</html>